POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=stunting-database

DB_PORT=5432
DB_SCHEMA=stunting-database
# Change container name to 'localhost' if u want to run server locally
CONTAINER_NAME=stunting-postgres

DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${CONTAINER_NAME}:5432/${POSTGRES_DB}?schema=${DB_SCHEMA}

PORT=8080
# ROOT_URL = localhost:3000
ROOT_URL = rest.anyastunting.com

JWT_KEY=
TOKEN_VALID_TIME=2h
